body {
    background-color: rgb(245, 131, 66);
    font-family: sans-serif;
}

#title {
    color: rgba(51, 51, 51,);
    display: flex;
    justify-content: center;
}

#enter_task {
    background-color: rgb(255, 94, 0);
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 10px;
}

#submit_button {
    background-color: rgb(255, 94, 0);
    font-family: sans-serif;
    border-radius: 50px;
    border-width: 2px;
}
#submit_button:hover {
    background-color: orange;
}

#relay_task {
    display: flex;
    justify-content: center;
}